# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test
*.out

# Output of the go coverage tool
*.coverprofile
*.cov

# Temporary files
*.tmp
*.temp

# Build directories
/build/
/bin/
/dist/

# Go module files
/src/go.sum

